extends templates/base
include mixins/video

block content
    form(method="GET").search__form
        input(type="text", placeholder="Search...", name="keyword")
        button
            i.fas.fa-search
    div.video__grid
        each video in videos
            +video(video)
        else
            span.empty__message No Videos Found.