extends base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(type="text", placeholder="Title", required, name="title", maxlength=80)
    input(type="text", placeholder="Description", required, name="description", minlength=20)
    input(type="text", placeholder="Hashtags(Seperated by comma)", required, name="hashtags")
    input(type="submit", value="Upload")