div.social-login
    a(href="/users/github/start").social__btn
        i.fab.fa-github
    a(href="/users/github/start").social__btn
        i.fab.fa-github
    a(href="/users/github/start").social__btn
        i.fab.fa-github